<script type="text/javascript">
$(function() {
	var latlng = new google.maps.LatLng(37.7647802734375, -122.45072631835938);
	var myOptions = {
		zoom: 12,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("map_canvas"),
	myOptions);
	
	$.ajax({
		url: "/features.json",
		context: document.body,
		success: function(data){
			for(i = 0; i<data.length;i++)
			{
				var latlng = new google.maps.LatLng(data[i].location[0], data[i].location[1]);
				var m = new google.maps.Marker({
					position: latlng, 
					map: map, 
					//icon: "/images/aed-icon-annotation.png",
					title: data[i].address,
					feature_id: data[i]._id
				});
				google.maps.event.addListener(m,'click',function() {
					window.location = "/features/" + this.feature_id;
					
				})
			}
		}
	});
});
</script>
<div id='map_canvas' style='width:100%; height:100%; position:absolute; top:0; left:0; '></div>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
