<script type="text/javascript">
$(function() {
	if(navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(function(location) {
			renderMap(location.coords.latitude,location.coords.longitude,13,true)
		}, function()
		{
			renderMap(37.740360538424284, -122.43467206259766,13,false);
		});
	} 
	else
	{
		renderMap(37.740360538424284, -122.43467206259766,13,false);
	}	
});
</script>
<div id='map_canvas' style="width:100%; bottom:0px; position:absolute; top:40px"></div>
