<p>
  <b>Address:</b>
  <%= @feature.address %>
</p>

<p>
  <b>Image:</b>
<% if @feature.image.url(:thumb) != nil %>
  <%= image_tag @feature.image.url(:thumb) %>
<% else %>
No image.
<% end %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
